.header{
    list-style-type: none;
    display: flex;
    margin-top: 50px;
    margin-bottom: 0px;
    padding-left: 0px;
    &__item{
        margin-left: 40px;
        &:first-child{    
            position: relative;
            margin-left: 0px;
            padding-left: 40px;
            &:before{
                position: absolute;
                content: "";
                left: 0;
                top: -15px;
                background-image: url("../../../image/logo.png");
                background-size: contain;
                background-repeat: no-repeat;
                width: 43px;
                height: 43px;
            }  
        }
        &-link{
            color: #fff;
            text-decoration: none;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}